@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
/*====Variaveis do css============*/

:root {
    --header-height: 3.5rem;

    /*===cores========*/
    /*modo de cores HSL (matiz, saturação, luminosidade)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-ligthen: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(220, 100%, 99%);

    /*====Fonttes e tipografia===========*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .75rem;

    /**font weight****/
    --font-medium: 500;
    --font-semi-bold: 600;

    /**z-index***/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*******Responsividade tipografia*********/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/**********base***********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #fff;
    color: #000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

/****classes CSS reutilizáveis*********/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/**Cabeçalho**/
.header {
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, .1);
    z-index: var(--z-fixed);
}

/*******nav*********/
.nav{
    height: var(--header-height);
}
.nav__data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color:#000;
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}
.nav__logo i{
    font-size: 1.25rem;
}
.nav__logo:hover{
    color:#F30000;
}
.nav__toggle{
    position: relative;
    width: 32px;
    height: 32px;
}
.nav__toggle-menu,
.nav__toggle-close{
    font-size:1.25rem;
    color:#000;
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor:pointer;
    transition: opacity .1s, transform .4s;
}
.nav__toggle-close{
    opacity: 0;
}

/*********navegação para dispositivos móveis**************/
@media screen and(max-width: 1118px){
    .nav__menu{
        background-color: #000;
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh -3.5rem);
        overflow: auto;
        padding-block:  1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar{
        width: .5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb{
        background-color: hsl(220, 12%, 70%);
    }
}

.nav__link{
    color:#000;
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}
.nav__link:hover{
    background-color: var(--first-color-ligthen);
}

/**show menu******/
.show-menu{
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}
/*show-icon*/

    .show-icon .nav__toggle-menu{
        opacity: 0;
        transform: rotate(90deg);
    }

.show-icon .nav__toggle-close{
    opacity: 1;
    transform: rotate(90deg);
}
/****Dropdown********/
.dropdown__button{
        cursor: pointer;       
}
.dropdown__arrow{
    font-size: 1,5rem;
    font-weight: initial;
    transition: transform .4s;
}
.dropdown__content,
.dropdown_group,
.dropdown__list{
    display: grid;
}
.dropdown__container{
    background-color: var(--first-color-ligthen);
    height: 0;
    overflow: hidden;
    transition: height .4s;
}
.dropdown__content{
    row-gap: 1.75rem;
}
.dropdown__group{
    padding-left: 2.5rem;
    row-gap: 5rem;
}
.dropdown__group:first-child{
    margin-top: 1.25rem;
}
.dropdown__group:last-child{
    margin-bottom: 1.25rem;
}
.dropdown__icon{
    font-size:1.25rem;
    color:var(--first-color)
}
.dropdown__title{
    font-size:var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.dropdown__list{
    row-gap: .25rem;
}
.dropdown__link{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color:black;
    transition: color .3s;
}
.dropdown__link:hover{
    color:var(--title-color);
}
/********ícone suspenso remoto************/
.show-dropdown .dropdown__arrow{
    transform: rotate(180deg);
}
/*****ponto de interrupção****************/
/***para pequenos dispositivos****/
@media screen and (max-width: 300px){
    .dropdown__group{
        padding-left: 1.5rem;
    }
}
/*******para grande dispositivos*********/
@media screen and (min-width :1118px){
    .nav{
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 3rem;
        height: 100%;

    }
    .nav li{
        display: flex;
    }
    .nav__list{
        padding: 0;
    }
    .nav__link:hover{
        background-color: initial;
    }
    /**Dropdown**/
    .dropdown__button{
        column-gap: .25rem;
        pointer-events: none;
    }
    .dropdown__container{
        height: max-content;
        position: absolute;
        left:0;
        right: 0;
        top:6.5;
        background-color: var(--body-color);
        box-shadow: 0 6px 8px hsla(220, 68%, 12%, .05);
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .dropdown__content{
        grid-template-columns: repeat(4, -max-content);
        column-gap: 6rem;
        max-width: 1120px;
        margin-inline: auto;
    }
    .dropdown__group{
        padding: 4rem 0;
        align-content: baseline;
        row-gap: 1.25rem;
    }
    .dropdown__group:first-child,
    .dropdown__group:last-child{
        margin:0;
    }
    .dropdown__list{
        row-gap: .75rem;  
        color:white;
        opacity: 0.; 
    }
    .dropdown__icon{
        width: 60px;
        height:60px;
        background-color: var(--first-color-ligthen);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom:1rem;
    }
    .dropdown__icon i{
        font-size: 2rem;
    }
    .dropdown__title{
        font-size: var(--normal-font-size);
    }
    .dropdown__link{
        font-size:var(--small-font-size);
    }
    .dropdown__link:hover{
        color:var(--first-color);
    }
    .dropdown__item{
        cursor:pointer;
    }
    /**********menu suspenso remoto icone***************/
    .dropdown__item:hover .dropdown__arrow{
        transform: rotate(180deg);
    }
    /******Mostrar dropdown menu*****/
    .dropdown__item:hover > .dropdown__container{
        top: 5.5rem;
        opacity: 1;
        pointer-events: initial;
        cursor: initial
    }
}
@media screen and (min-width: 1152px){
    .container{
        margin-inline: auto;
    }
}






























@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dee0e3;
}

.slider{
  position: relative;
  background: #a9c8ff;
  width: 800px;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  position: absolute;
  color: #000000;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.slider .slide .info h2{
  font-size: 2em;
  font-weight: 800;
}

.slider .slide .info p{
  font-size: 1em;
  font-weight: 500;
  color:#fff
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(255, 255, 255);
}



@media (max-width: 900px){
  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px){
  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }
}
      